* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 16px;
}

body {
    overflow: hidden;
    background: #0d325b;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1rem;
    color: #f9f1e9;
}

body:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url(../images/bg.jpeg) center no-repeat;
    background-size: cover;
    filter: blur(10px) brightness(.7);
    z-index: 1;
}

#app {
    position: relative;
    z-index: 2;
}

.heading {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -80%);
}

.heading .title {
    margin: 0;
    padding: 0;
    font-size: 6rem;
    font-weight: 500;
    color: rgba(255,255,255, .85);
}

.heading .title span {
    background: rgba(254,4,255, 0.18);
}

.heading .description {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: right;
    color: rgba(255,255,255, .85);
}

.projects {
}

.technologies {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.technologies .logo {
    display: block;
    width: 64px;
    height: 64px;
    background: transparent center no-repeat;
    background-size: 100% auto;
    font-size: 0;
}

.technologies .logo + .logo {
    margin-left: 20px;
}

.technologies .logo.laravel {
    background-image: url(../images/laravel.png);
}

.technologies .logo.vue {
    width: 52px;
    height: 52px;
    background-image: url(../images/vue.png);
}