* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 16px;
}

body {
    overflow: hidden;
    background: #0d325b;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1rem;
    color: #f9f1e9;
}

body:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url(../images/bg.jpeg) center no-repeat;
    background-size: cover;
    filter: blur(10px) brightness(.7);
    z-index: 1;
}

#app {
    position: relative;
    z-index: 2;
}

.app-content {
    position: absolute;
    top: 23%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.heading {
    display: inline-block;
    margin-bottom: 20%;
}

.heading .title {
    margin: 0;
    padding: 0;
    font-size: 6rem;
    font-weight: 500;
    color: rgba(255,255,255, .85);
}

.heading .title span {
    background: rgba(254,4,255, 0.18);
}

.heading .description {
    margin: 0;
    padding: 0 1px 0 0;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: right;
    color: rgba(255,255,255, .85);
}

.logos {
}

.logos > .row {
    display: flex;
    min-height: 45px;
    margin-bottom: 10px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.logos .logo {
    display: block;
    background: transparent center no-repeat;
    background-size: 100% auto;
    font-size: 0;
}

.logos .logo + .logo {
    margin-left: 20px;
}

.logos.projects {
    margin-bottom: 15%;
}

.logos.projects .logo {
    width: 64px;
    height: 64px;
}

.logos.technologies {
}

.logos.technologies .logo {
    width: 64px;
    height: 64px;
}

.logos .logo.texted {
    width: auto;
    height: auto;
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 1;
}

.logos .logo.laravel {
    background-image: url(../images/technologies/laravel.png);
}

.logos .logo.vue {
    width: 52px;
    height: 52px;
    background-image: url(../images/technologies/vue.png);
}

.logos .logo.nuxt {
    background-image: url(../images/technologies/nuxt.png);
}

.logos .logo.flutter {
    width: 52px;
    height: 52px;
    background-image: url(../images/technologies/flutter.png);
}

.logos .logo.onfly {
    width: 130px;
    background-image: url(../images/projects/onfly.svg);
    background-position-y: bottom;
}

.logos .logo.ltt {
    background-image: url(../images/projects/ltt.png);
}

.logos .logo.selectus {
    background-image: url(../images/projects/selectus.png);
}

.logos .logo.tea-book {
    background-image: url(../images/projects/tea-book.png);
}

.logos .logo.repeat-me {
    background-image: url(../images/projects/repeat-me.png);
}

.copyright {
    position: absolute;
    left: 50%;
    bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);
    color: rgba(109,199,255, 0.35);
}